table {
    width: 50em;
    height: 50em;
    border:1px solid black;
    margin:3px;
    padding:3px;
}
td {
    margin:2px;
}
.A {
    width: 75%;
    background-color: yellowgreen;
}
.B {
    width:25%;
    background-color: yellowgreen
}
.C {
    width:25%;
    background-color: red;
}
.D, .E, .G {
    background-color: teal;
}
.F, .H {
    background-color: salmon;
}
.I {
    width:75%;
    background-color: green;
}
.A, .B, .D, .E, .I {
    HEIGHT:5em;
}