/*Body*/
body {
    font-size: 0;
    background-color: rgb(236, 225, 209);
    margin:0;
    font-family: Helvetica, serif, sans-serif;
    /* height:100%;
    width:100%; */
}
body > div { font-size: 16px}
/* Virsus */
.virsus {
    /* border: 1px solid black; */
    width:100%;
 
    display:flex
}
.kaire {
    height: 100%;
    width:47%;
    /* border: 1px solid black; */
    margin:0 0 0 3%;
    display: inline;
}
.desine {
    width:50%;
    height:100%;
    /* border:1px solid black; */
    justify-content: space-around;
}
h2 {
    display: inline-block;
}
.font-style {
    color: rgb(23, 167, 167);
}
p {
    display: inline-block;
    width:16%;
    text-align: center;
}
img {
    width:40px;
    vertical-align: middle;
}
a:link, a:visited, p:link {
    text-decoration: none;
    color: black;
   
  
}
p:hover, a:hover {
    color: white;
    background-color: rgb(23, 167, 167);
    height:100%
}
/*Vidurys*/
