body {
    margin:1%;
    background-color: rgb(209, 216, 223);
    }
body > div {font-size: 0%} {font-size:1em}
.container, .block, .blockstroked, .rectangle {
    margin:0 0 4 0}
.blockstroked, .red {
    text-align: center;}
.container, .block, .rectangle, .rectanglestroked{
    text-align: right}
.container, .block, .blockstroked, .red, .rectangle, .rectanglestroked{color: black;}
.container {
    width: 100%;
    height: calc(25vw * 2.5);
    background-color: rgb(150, 194, 63);
    display:inline-block;}
.block, .red {
    width: 25vw;
}
.block, .blockstroked, .red, .rectangle, .rectanglestroked{
    height:25vw;}
.blockstroked {
    width: calc(25vw - 2px);
    height: calc(25vw - 2px);
    border: 2px solid black;}
.rectanglestroked, .rectangle {
    width: 60%;
}
.rectangle {
    background-color: palevioletred;
}
.red {
    background-color: red;
}
.rectanglestroked {
    background-color: yellow;
}
.block, .blockstroked {
    background-color: rgb(38, 38, 206);}
}