body {
    background-color: rgb(90, 78, 78)
}
p {
    color:black;
    font-size:2vw;
}
.tekstas {
    top: calc(50% - 2vw);
    position:relative;
}
.Langas {
    background-color: rgb(180, 177, 177);
    width: 50vw;
    height: 50vw;
    margin: auto;
    position: relative;
}
#Red,
#Green,
#Blue {
    height: calc(60% - 2vw);
    width: calc(60% - 2vw);
    border: solid;
    border-width:1vw;
    border-radius: 100%;
    margin: 3%;
    text-align: center;
    font-size:4vw;
    color:white;
    opacity: 0.8;
}
#Green,
#Blue, #Red {
    position:absolute
}
#Red {
    background-color: rgb(196, 59, 59);
    border-color: red;
    right:18%;
}
#Green {
    background-color: rgb(68, 194, 52);
    border-color: green
}
#BLue {
    background-color: rgb(47, 44, 226);
    right: 0%;
    border-color: blue
}
#Green, #Blue {
    bottom:0%;
}
