<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
}
/* h1 {
    display:inline;
    color: springgreen;
    margin:20%
} */
header {
    /* border:1px solid black; */
    margin:0;
    padding:0;
    height:9%;
    /* background-color: rgb(231, 222, 203); */
}
/*Divai*/
.vidurys {
    height:max-content;
    border: 1px solid black;
    width:50%;
    margin: 2% 25%;
    border:3px solid #f1f1f1;
} 
.blokas {
    width:100%;
    height:20%;
    background-color: rgb(81, 187, 134);
    /* border:1px solid  rgb(0, 0, 0) */
}
.blokas2 {
    width:100%;
    height:30%;
    background-color: #333;
}
ul {
    display:flex;
    list-style-type: none;
    margin:0;
    padding:0;
    /* overflow: hidden;     */
    /* background-color: #333; */
    justify-content: space-between
}
li::after {
    content: "";
    /* border: 1em solid transparent;
    border-right-color: black;
    position: absolute; */
    background-color: #333;
    
}

li a {
    /* width:10%; */
    display: block;
    color:rgb(17, 16, 16);
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
a {
    display: inline-block
}
li a:hover:not(.active) {
    display: flex;
    background-color: black;
    color: white;
    height: 40%;
}
img:hover:not(.active) {
    background-color: white;
}
.active {
    background-color:rgb(81, 187, 134);
    height: 100%;
    display: flex
}
/* .imgcontainer {
    text-align: center;   
    margin:10px
} */
img {
    width:20px;
    display: flex
}
/* img.avatar {
    width:40%;
    border-radius: 100%;
} */
form {
    /* border:3px solid #f1f1f1; */
}
input[type=text], input[type=password] {
    width:94%;
    height: 3em;
    padding:0;
    margin:3%;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    height:2em;
    margin: 1%;
    color: floralwhite;
    background-color:rgb(81, 187, 134);
    
}