<head>
    <title>Grožis</title>
    <link rel=stylesheet href=style.css />
</head>
<style>
</style>

<body>
    <div class="virsus">
        <div class="A">A</div>
        <div class="B">B</div>
    </div>
    <div class="vidurys">
        <div class="C">C</div>
        <div class="D">D</div>
        <div class="E">E</div>
        <div class="G">G</div>
        <div class="F">F</div>
        <div class="H">H</div>
    </div>
    <div class="apacia">
        <div class="I">I</div>
    </div>

</body>

</html>