body {
    background-color: rgb(192, 176, 145);
    margin:1%;
    font-size: 0
}
.A, .B, .C, .D, .E, .F, .G, .H, .I {
    flex-basis: content
}
body > div > div {font-size:4vw}
.virsus, .vidurys, .apacia {
    margin:0 0 1% 0
}
.virsus, .apacia {
    width:100%;
    height:10%;
}
.virsus, .vidurys {
    display:flex; 
}
.vidurys {
    width:100%;
    height:80%;
    flex-wrap: wrap;
    flex-direction: column;
}
.A, .B, .C, .I {
    height:100%;
}
.F, .H {
    width:calc(25% - 1%);
    margin: 0 0 0 1%
}
.H {
    margin:0 0 0 1%
}
.A {
    background-color:rgb(141, 209, 39);
    width:75%;
}
.B {
    width:calc(25% - 1%);
    margin: 0 0 0 1%;
    background-color:rgb(141, 209, 39);
}
.C {
    background-color: coral;
    width:calc(20% - 1%);
    margin: 0 1% 0 0;
}
.D, .E, .G {
    background-color: rgba(30, 30, 230, 0.884)
}
.D, .E {
    height:calc(20% - 1%);
    margin:0 0 1% 0;
}
.D, .E, .G {
    width:55%
}
.G, .H {
    height:59%
}
.F, .H {
    background-color: rgb(139, 39, 139)
}
.F {
    margin:0 0 1% 1%;
    height:calc(40% - 1%)
}
.I {
    background-color: rgb(216, 22, 22)
}
