body {
    background-color: #ecf0f1;
    font-family: 'Black Han Sans', sans-serif;
}
nav {
    background-color: #cccac4;
}
nav {
    width: 100%;
    /* text-align: center; */
}
nav ul {
    color: rgb(255, 255, 255);
    /* font-weight: 900; */
    width:80%;
    max-width: 1024px;
    /* background-color: red; */
    margin:auto;
    /* display: inline-block; */
    font-size: 0;  
}
nav ul li {
    padding: 15px 20px;
    display:inline-block;
    border-right:1px solid rgb(211, 173, 173);
    font-weight: 550;
    cursor:pointer;
    font-size: 16px;
}
nav li:hover {
    border-bottom: 4px solid #0de7e7;
    padding-bottom: 11px;
}
main {
    width:90%;
    max-width: 1024px;
    margin:80px auto 0 auto;
}
article {
    background-color: white;
    width:100%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
}
article h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
article p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
article:nth-of-type(6n +2)
article:nth-of-type(6n +3) {
    width: 49%;
}
article:nth-of-type(6n +4)
article:nth-of-type(6n +5)
article:nth-of-type(6n +6) {
    margin-right: 2%;
}
article:nth-of-type(6n +4)
article:nth-of-type(6n +5) 
article:nth-of-type(6n +6) {
    width: 32%;
}
.noFont {
    font-size: 0;
}
.noFont * {
    font-size: 16px;
}