body {
    height:100%;
    background-color: rgb(68, 66, 66);
    margin:0 1%;
    
}
p1 {
    color: wheat;
}

}
.vidurys {
    width:100%;
}
.virsus {
    width:100%;
    height:10%;
    border: 1px solid black;
    align-content: flex;
}
.tekstasup {
    height:100%;
    width: 25%;
    margin:0;
    display:inline-block;
    text-align: center;
    background-color: rgb(91, 91, 219); 
}
.vidurys {
    height:80%;
    width:96%;
    display:inline-flex;
    margin: 3 0;
    
}
.menu {
    width:20%;
    height:100%;
    display:inline-block;
}
.tekstasdown {
    height:13%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border:1px solid black;
    background-color: rgb(91, 91, 219); 
    margin: 2 0;
}
.vidus {
    display: inline-block;
     height: 100%;
     width:80%;
     margin:0;
     overflow:scroll;
 }
 