body {
    margin: 0%;
}
header {
    border:1px solid black;
    margin:0;
    height:10%;
    background-color: rgb(231, 222, 203);
}
/*Divai*/
.vidurys {
    height:max-content;
    /* border: 1px solid black; */
    width:50%;
    margin: 1% 25%;
    border:3px solid #f1f1f1;
}
.blokas {
    width:100%;
    height:20%;
    background-color: rgb(39, 223, 110);
    border:1px solid  rgb(0, 0, 0)
}
.blokas2 {
    width:100%;
    height:30%;
    background-color: #333;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;    
    background-color: #333;
}
li {
    float: left;
    list-style-type: none;
    background-color: #333;
    
}
li a {
    display: block;
    color:rgb(247, 247, 247);
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: black;
}
.active {
    background-color: green;
}
.imgcontainer {
    text-align: center;   
    margin:10px
}
/* img.avatar {
    width:40%;
    border-radius: 100%;
} */
form {
    /* border:3px solid #f1f1f1; */
}
input[type=text], input[type=password] {
    width:94%;
    height: 3em;
    padding:0;
    margin:3%;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    height:2em;
    margin: 1%;
    color: floralwhite;
    background-color: rgb(39, 223, 110)
    
}