body {
    background-color: rgb(90, 78, 78)
}
p {
    color:black;
    font-size:2vw;
}
.tekstas {
    top: 42%;
    position:relative;
}
.Langas {
    background-color: rgb(180, 177, 177);
    width: 50vw;
    height: 50vw;
    margin: 10vw auto;
    position: relative;
}
#Red,
#Green,
#Blue {
    height: calc(60% - 2vw);
    width: calc(60% - 2vw);
    border:ridge;
    border-width:1vw;
    border-radius: 100%;
    margin: 2vw;
    text-align: center;
    font-size:4vw;
    color:white;
    opacity: 0.8;
}
#Green,
#Blue, #Red {
    position:absolute
}
#Red {
    background-color: rgb(196, 59, 59);
    border-color: red;
    right:18%;
    animation-name: raudona;
}
#Green {
    background-color: rgb(68, 194, 52);
    border-color: green;
    animation-name:zalia;
}
#BLue {
    background-color: rgb(47, 44, 226);
    right: 0%;
    border-color: blue;
    animation-name:melyna;
}
#Green, #Blue {
    bottom:0%;
}
#Green, #Red, #Blue {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes melyna {
    0%   {background-color: black; right:18%; bottom:50}
    100% {background-color: rgb(47, 44, 226); right:0%; bottom:0}
}
@keyframes zalia {
    0%   {background-color: black; left:15%; bottom:50}
    100% {background-color: rgb(68, 194, 52); left:0%; bottom:0}
}
@keyframes raudona {
    0%   {background-color: black; right:18%; top:18%}
    100% {background-color: rgb(196, 59, 59); right:18%; top:0}
}