body {
    background-color: rgb(219, 191, 120);
    margin:1%;   
    font-size: 0;
}
body > div {
    font-size: 16px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(43, 43, 241);
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.apacia {
    width:100%;
    height:10%;
    background-color: rgb(43, 43, 241);
}
.virsus {
    height:8%;

}
.vidurys {
    width:100%;
    height:80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
}
.vidurys, .virsus {
    margin: 0 0 1% 0;
}
.zalias {
    background-color: greenyellow;
    width:68%;
    height:100%;
    overflow: scroll; 
}
.blokas {
    height:calc(25% - 4px);
    width:30%;
    background-color: dodgerblue;
    margin:1px;
}
@media (max-width: 768px) {
    body {
       
        background-color: rgb(204, 176, 104);
    }
    .virsus, .apacia {
        height: 10%;
        width:100%;
        background-color: rgb(89, 89, 230);
    }
    .virsus {
        height:7%;
        width:100%;
    }
    .vidurys {
        width: 100%;
        height: 80%;
        margin: 0;
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: row
    } 
    .zalias {
        height:60%;
        width:100%;
        background-color: rgb(185, 230, 118);
      
    }
    .blokas {
        width:48%;
        height:18%;
        margin: 1% 1% 0 1%;
    }
    .apacia {
        height:7%;
        width:100%;
    }
}
